<div class="eruda-editor">

</div>
<div class="eruda-bottom-bar">
    <div class="eruda-btn eruda-beautify">
        Beautify
    </div>
    <div class="eruda-btn eruda-copy">
        Copy
    </div>
    <div class="eruda-btn eruda-clear">
        Clear
    </div>
    <div class="eruda-btn eruda-run">
        Run
    </div>
</div>