<div class="eruda-editor">

</div>
<div class="eruda-bottom-bar">
    <div class="eruda-btn">
        Beautify
    </div>
    <div class="eruda-btn">
        Copy
    </div>
    <div class="eruda-btn">
        Clear
    </div>
    <div class="eruda-btn">
        Run
    </div>
</div>