<textarea class="eruda-editor">function fib(num) {
    if (num <= 2) return 1;
    return fib(num - 1) + fib(num - 2);
}
console.log(fib(5));</textarea>
<div class="eruda-bottom-bar">
    <div class="eruda-btn eruda-beautify">
        Beautify
    </div>
    <div class="eruda-btn eruda-copy">
        Copy
    </div>
    <div class="eruda-btn eruda-clear">
        Clear
    </div>
    <div class="eruda-btn eruda-run">
        Run
    </div>
</div>